.lmj-banner {
  color: rgb(251, 235, 13);
  text-align: left;
  padding: 16px;
  border-bottom: solid 6px rgb(124, 252, 5);
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.lmj-title {
  padding-left: 32px;
  text-align: center;
}

.lmj-logo {
  height: 45px;
  width: 45px;
}
